html,
body {
  height: 100%;
}

body {
  font-family: Play;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}