$containerWidth: 940px;
$baseFontSize: 16px;
$tablets: 768px;
$phones:480px;

html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px; 
  }   

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

html,
body{
  height: 100%;
}

body {
  font-family: Play;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: $containerWidth;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table { 
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}