$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$grey: #F5F5F5;
$white: #fff;

@import "./media.scss";

@import "./layout.scss";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


//components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/benefits-section.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/reviews-section.scss";
@import "./components/order-section.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/fixed-menu.scss";
@import "./components/hamburger.scss";
@import "./components/map";
@import "./components/footer";
@import "./components/contacts";
@import "./components/socials";
@import "./components/slider";
@import "./components/slider-list";





