@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Play;
  line-height: 1.42;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:after {
    color: #858585;
  }
}
.hero:after {
  position: absolute;
  bottom: -1.75rem;
  right: 26%;
  content: url("../img/rectangle.svg");
}
@media screen and (max-width: 768px) {
  .hero:after {
    content: url("../img/rectangle_tablet.svg");
    right: 13%;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 2.8125rem;
  background: url("../img/beats_headphones.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url("../img/headphones_tablets.png") center center/contain no-repeat;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.25rem;
  padding-right: 25%;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  padding-top: 0.4375rem;
  margin-bottom: 0.3125rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
    padding: 0 12%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.phone-number.header__phone-number {
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  font-family: play;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5625rem;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.375rem;
}
@media screen and (max-width: 768px) {
  .phone-number__icon-elem--red {
    fill: #E01F3D;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.8125rem;
  margin-right: 0.9375rem;
}

.feature__icon-symbol {
  width: 3.25rem;
  height: 3.25rem;
}

.feature__text {
  max-width: 5.625rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2.625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  padding-left: 1rem;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*&--font--color--white{
    color: #FFFFFF;
  }*/
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3.4375rem;
  text-align: center;
  color: #292929;
}
.section__title--white {
  color: #FFFFFF;
}

.order-section {
  color: #FFFFFF;
}

.benefits {
  text-align: center;
}

.benefits__title {
  margin-bottom: 1.125rem;
  color: #292929;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefits__title {
    font-size: 2rem;
    color: #000000;
  }
}

.benefits__subtitle {
  padding: 0 22%;
  margin-bottom: 3.75rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .benefits__subtitle {
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__subtitle {
    padding: 0 10%;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item:before {
  content: url("../img/shape.svg");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 2.5rem;
    margin-right: 0.75rem;
  }
}

.benefit__icon {
  width: 4.6875rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    white-space: nowrap;
  }
}

.benefit__desc {
  padding: 0 5%;
}
@media screen and (max-width: 768px) {
  .benefit__desc {
    padding: 0 0%;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../img/triangle_red.svg");
  position: absolute;
  bottom: -1.5625rem;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .benefits-section:before {
    left: 5%;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__display {
  background: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
  overflow: hidden;
  margin-bottom: 0.9375rem;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.0625rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  padding-top: 1.6875rem;
  padding-right: 5.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-right: 3.75rem;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5625rem;
  color: #292929;
}

.reviews__text {
  margin-bottom: 1.0625rem;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: #292929;
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section:before {
  content: url("../img/circle.svg");
  position: absolute;
  bottom: -1.5625rem;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .reviews-section:before {
    left: 5%;
  }
}

.order-section {
  background: url("../img/bg_order.png") no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  .order-section {
    background: url("../img/bg_order.png") no-repeat center/cover;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.6875rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}
.form__input--textarea {
  height: 10.0625rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input.input-error {
  border-color: #E01F3D;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 1.1875rem;
}
.radio--checkbox {
  padding-top: 0;
  padding-bottom: 1.625rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.3125rem;
}
.radio--checkbox .radio__visible:before {
  background: url(../../img/check_red.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.9375rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item:hover .fixed-menu__link:before {
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  position: relative;
  background: url(../img/map.png) no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  .map-section {
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .map-section {
    background-size: cover;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-size: 1.125rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .contacts__phone {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__phone {
    color: #292929;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem;
}

.social__item {
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-right: 0.875rem;
  }
}
.social__item:last-child {
  margin-right: 0;
}

.social__item .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
}

.social__link {
  color: #B3B3B3;
}
.social__link:hover {
  color: black;
}

.slider {
  min-height: 40.625rem;
  background: #F8FAF9;
  /*&__arrow{
    position: absolute;
    top: 50%;

    @include tablets {
      top: 25%;
      padding: 0 10%;
    }


    @include phones {
      top: 25%;
      padding: 0 4%;
    }


    &:hover{
      cursor: pointer;
    }

    &--left {
      left:0
    }

    &--right{
      right: 0;
    }
    &--icon {
      width: rem(24px);
      height: rem(40px);
    }


  }*/
}
.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider__list-wrap {
  position: relative;
}
.slider__list-wrap .bx-wrapper {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #F8FAF9;
}

.slider__arrow {
  background: url("../img/arrow_right.svg") center center no-repeat;
  background-size: contain;
  display: block;
  width: 0.8125rem;
  height: 1.75rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.slider__arrow--right {
  right: 0;
}
@media screen and (max-width: 768px) {
  .slider__arrow--right {
    top: 20%;
    left: 78%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow--right {
    top: 17%;
    left: 87%;
  }
}
.slider__arrow--left {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .slider__arrow--left {
    top: 18%;
    left: 21%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow--left {
    top: 15%;
    left: 11%;
  }
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 0;
}
.slider__list-wrap {
  width: 56.25rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.0625rem;
}

.slider__item {
  width: 56.25rem;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide__img-wrap {
  width: 45%;
  padding-top: 9.375rem;
  margin-left: 1.875rem;
}
@media screen and (max-width: 768px) {
  .slide__img-wrap {
    display: none;
  }
}
.slide__content {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .slide__content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    /*margin-top: rem(93px);*/
  }
  .slide__content:before {
    content: "";
    width: 19.125rem;
    height: 19.125rem;
    background: url("../img/headphones_product-tablet.png") center center/contain no-repeat;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .slide__content--two {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    /*margin-top: rem(93px);*/
  }
  .slide__content--two:before {
    content: "";
    width: 19.125rem;
    height: 19.125rem;
    background: url("../img/beats_red.png") center center/contain no-repeat;
    margin-bottom: 60px;
  }
}
.slide__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: #292929;
}
.slide__title--two {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .slide__title--two {
    width: auto;
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .slide__title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .slide__title {
    padding: 0 13%;
  }
}
.slide__title-wrap {
  margin-bottom: 1.5rem;
}
.slide__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.0625rem rem 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5625rem;
  margin-top: 4.125rem;
}
.slide__params_img {
  width: 5.6875rem;
  height: 5.6875rem;
}
@media screen and (max-width: 768px) {
  .slide__params {
    display: none;
  }
}
.slide__desc {
  margin-bottom: 1.6875rem;
  padding-right: 28px;
}
.slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
.slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.75rem;
}
.slide__price {
  color: #151515;
  font-size: 2.25rem;
  margin-right: 0.8125rem;
}

.info {
  margin-right: 5rem;
}
.info:last-child {
  margin-right: 0;
}
.info__text {
  color: #000000;
  font-weight: 700;
}

.dropdown {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.dropdown:hover .dropdown__menu {
  opacity: 1;
  left: 0;
}

.dropdown__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  left: -9999px;
  padding: 0.625rem;
  width: 15.875rem;
  margin-left: 5.6875rem;
  border-radius: 0.25rem;
  opacity: 0;
  height: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 300px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown__item_img {
  width: 2.1875rem;
  height: 3.125rem;
  margin-bottom: 0.625rem;
}

.dropdown_item_name {
  padding-top: 0.875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  padding-left: 0.625rem;
}
.dropdown_item_name--bluetooth {
  padding-right: 5.3125rem;
}
.dropdown_item_name--distance {
  padding-right: 4.375rem;
}
.dropdown_item_name--charge {
  padding-right: 5.9375rem;
}
.dropdown_item_name--weight {
  padding-right: 6.875rem;
}
.dropdown_item_name--waranty {
  padding-right: 4.375rem;
}

.dropdown__item_range {
  padding-top: 0.875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
}

.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #313131;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open {
  overflow: hidden;
}

.menu--vertical .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu--vertical {
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}

.fullscreen-menu__close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.fullscreen-menu__close-elem {
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
  }
}

/*.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(00, 00, 00, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.fullscreen-menu .active {
  position: relative;
  display: flex;
}

.menu--vertical .menu__list {
  width: 400px;
  background: #444;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin: 0;
}

.fullscreen-menu__close {
  color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

}

.fullscreen-menu__close:hover {
  background: #d33;
}*/
.reviews__list {
  position: relative;
  min-height: 17.5rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__switcher-item.active {
  border-color: #E01F3D;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.25rem;
  position: relative;
  max-width: 14.4375rem;
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-right: 0;
  }
}

.team__member {
  height: 18.125rem;
  margin-bottom: 1.25rem;
}

.team__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 18px;
}

.team--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}
.team__content--open {
  height: 23.25rem;
}

.team__content-block {
  padding-bottom: 0.3125rem;
}

.team--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .team--desktop {
    display: none;
  }
}

.team--mobile .team__item {
  margin-bottom: 0.625rem;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.team__job-title {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.team__job-desc {
  color: #666666;
}

.team__icon {
  width: 0.5625rem;
  height: 0.5625rem;
  margin-left: 0.25rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 480px) {
  .team__icon {
    color: #E01F3D;
  }
}

.team__item.active .team__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*.team__item {

  &:before{
    content:"";
    display: flex;
    width: rem(9px);
    height: rem(9px);
    background: url(../img/red_triangle.svg) center center no-repeat;
    transform: rotate(180deg);
    right: 5%;
    top: 318px;
    position: absolute;

    @include tablets {
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/green_triangle.svg) center center no-repeat;
      transform: rotate(180deg);
      right: 5%;
      top: 7px;
      position: absolute;
    }
  }
}

.team__item.active{
    &:before{
      content:"";
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/red_triangle.svg) center center no-repeat;
      transform: rotate(360deg);
      right: 5%;
    top: 318px;
    position: absolute;

    @include tablets {
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/green_triangle.svg) center center no-repeat;
      transform: rotate(360deg);
      right: 5%;
      top: 7px;
      position: absolute;
    }
    }

}*/
.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 2.1875rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 0.9375rem;
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.modal__fail {
  margin-bottom: 0.9375rem;
  color: red;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.player-section {
  background: #F8FAF9;
}

.player-section__container {
  width: 41.375rem;
  height: 24.5rem;
  margin-left: 9.0625rem;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__start {
  width: 0.875rem;
  height: 1.375rem;
  border: none;
}
.player.paused .player__start:after, .player.paused .player__start:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.3125rem;
  top: 0;
  bottom: 0;
  background: #333333;
}
.player.paused .player__start:after {
  right: 38.9375rem;
  background: white;
  margin-top: 7px;
  margin-bottom: 7px;
}
.player.paused .player__start:before {
  left: 1.4375rem;
  background: white;
  margin-top: 7px;
  margin-bottom: 7px;
}

.player.active.paused .player__icon {
  display: none;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/splashscreen.png) center center/cover no-repeat;
  cursor: pointer;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.1875rem;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5625rem;
}

.player__icon {
  width: 0.6875rem;
  height: 1rem;
}

.player__playback {
  height: 1rem;
  width: 27.625rem;
  position: relative;
}
.player__playback:before {
  content: "";
  height: 0.25rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #333333;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player__playback-button {
  background: #E01F3D;
  border-radius: 3.125rem;
  border: none;
  width: 0.875rem;
  height: 0.875rem;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}