.fullscreen-menu{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  background: #313131;
  z-index: 1000;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.fullscreen-menu.active{
  display: flex;
}

.menu-open{
  overflow: hidden;
}

.menu--vertical .menu__list{
  display: flex;
  flex-direction: column;
}

.menu--vertical{
font-size: rem(36px);
color:#fff;
text-align: center;
font-weight: 400;

@include tablets {
  display: block;
}

}


.fullscreen-menu__close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.fullscreen-menu__close-elem{
  width: rem(20px);
  height: rem(20px);

}

.menu__item {
  @include tablets{
    margin-right: 0;
  }
}

//.hamburger:active .fullscreen-menu{
//  display: inline-flex;
//}

/*.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(00, 00, 00, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.fullscreen-menu .active {
  position: relative;
  display: flex;
}

.menu--vertical .menu__list {
  width: 400px;
  background: #444;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin: 0;
}

.fullscreen-menu__close {
  color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

}

.fullscreen-menu__close:hover {
  background: #d33;
}*/
