.benefits {
  text-align: center;
}

.benefits__title{
  margin-bottom: rem(18px);
  color: #292929;
  text-align: center;

  @include phones {
    font-size: rem(32px);
    color: #000000
    ;
  }

}

.benefits__subtitle {
  padding: 0 22%;
  margin-bottom: rem(60px);
  text-align: center;

  @include tablets {
    padding: 0 15%;
  }

  @include phones {
    padding: 0 10%;
  }
}

