.radio{
  display: flex;
  cursor: pointer;
  user-select: none;
  padding-top: rem(19px);



  &--checkbox{
    padding-top: 0;
    padding-bottom: rem(26px);

    .radio__visible{
      border-radius: rem(5px);




      &:before{
        background: url(../img/check_red.svg) center center no-repeat;
      }
    }
  }
}

.radio__elem{
  display: none;


  &:checked ~ .radio__visible {
    &:before{
      display: block;
    }
  }
}

.radio__visible{
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: $white;
  margin-right: rem(10px);


  &:before{
    content: "";
width: rem(14px);
height: rem(14px);
background: #E01F3D;
border-radius: 50%;
position: absolute;
display: none;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  }
}

.radio__title{
  margin-right: rem(15px);
}