.reviews__switcher{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__display{
  background: #F8FAF9;
  padding: rem(50px) rem(45px) rem(34px);
  overflow: hidden;
  margin-bottom: rem(15px);
  position: relative;

  &:before{
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}

.reviews__display-inner{
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar{ 
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
  }
}

.reviews__avatar-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content{
  flex: 1;
  margin-left: rem(40px);
  padding-top: rem(27px);
  padding-right: rem(90px);

  @include tablets {
    padding-right: rem(60px);
  }
}

.reviews__title{
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(25px);
  color: #292929;
}

.reviews__text{
  margin-bottom: rem(17px);
}

.reviews__author{
  font-size: rem(18px);
  font-weight: bold;
  color: #292929;
}

