.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(23px) 0;
  background: $white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}


