.map-section {
  position: relative;
  background: url(../img/map.png) no-repeat center center / cover;

 @include tablets {
    background-size: cover;
  }

  @include phones {
    background-size: cover;
  }
}