.modal {
display: none;

  &.error-modal{
    .modal__content{
      color: red;
    }
  }

  &.fancybox-content{
    padding: 0 !important;
  }

  .fancybox-button{
    display: none;
  }
}

.modal__container{
  background:#fff;
  padding: rem(35px) rem(60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content{
  margin-bottom: rem(15px);
  color: #000000;
  font-size: rem(18px);
line-height: rem(24px);
font-weight:bold;
}
