.team{
  display: flex;
  justify-content: space-between;

  @include tablets{
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}

.team__item{
  flex: 1;
  text-align: center;
  margin-right: rem(20px);
  position: relative;
  max-width: rem(231px);

  @include tablets{
    flex: initial;
    margin-right: 0;
  }
}

.team__member{
height: rem(290px);
margin-bottom: rem(20px);
}

.team__title{
  display: inline-flex;
  align-items: center;
  color: #292929;
  justify-content: center;
  margin-bottom: rem(20px);
  font-weight: 700;
font-size: 18px;
}

.team--desktop .team__content{
position: absolute;
top: 100%;
}

.team__content{
  overflow: hidden;
  transition: height .3s;
  height: 0;

  &--open{
    height: rem(372px);
  }
}

.team__content-block{
  padding-bottom: rem(5px);
}

.team--mobile{
  display: none;

  @include tablets {
    display: flex;
  }
}

.team--desktop{
  
  @include tablets {
    display: none;
  }
}

.team--mobile .team__item{
  margin-bottom: rem(10px);
}

button{
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.team__job-title{
  color: #000000;
  font-weight: 400;
font-size: 16px;
}

.team__job-desc{
  color: #666666;
}



.team__icon{
  width: rem(9px);
  height: rem(9px);
  margin-left: rem(4px);
  transform: rotate(180deg);

  @include phones{
    color: #E01F3D;
  }
}

.team__item.active .team__icon {
  transform: rotate(360deg);
}

/*.team__item {
  
  &:before{
    content:"";
    display: flex;
    width: rem(9px);
    height: rem(9px);
    background: url(../img/red_triangle.svg) center center no-repeat;
    transform: rotate(180deg);
    right: 5%;
    top: 318px;
    position: absolute;

    @include tablets {
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/green_triangle.svg) center center no-repeat;
      transform: rotate(180deg);
      right: 5%;
      top: 7px;
      position: absolute;
    }
  }
}

.team__item.active{
    &:before{
      content:"";
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/red_triangle.svg) center center no-repeat;
      transform: rotate(360deg);
      right: 5%;
    top: 318px;
    position: absolute;

    @include tablets {
      display: flex;
      width: rem(9px);
      height: rem(9px);
      background: url(../img/green_triangle.svg) center center no-repeat;
      transform: rotate(360deg);
      right: 5%;
      top: 7px;
      position: absolute;
    }
    }
  
}*/