.benefits__list{
  display: flex;
}

.benefits__item{
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before{
    content: url("../../img/shape.svg");
    position: absolute;
    top: 60px;
    right: 0;
    transform: translateX(50%);
  }

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}

