.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 1.125rem 2.625rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  padding-left: 16px;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}