

.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(18px) rem(42px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;


  &--theme--red {
    background: #E01F3D;
    color: $white;

    &:hover {
      background: #CA1B36;
    }
  }

  &--theme--transparent{
    background: transparent;
    color: #fff;
    font-weight: 400;
    text-transform:none ;
    padding-left: rem(16px);



    &:hover{
      color: #E01F3D;
    }

  }
}

