.feature {
  display: flex;
}

.feature__icon{
  width: rem(45px);
  margin-right: rem(15px);
}

.feature__icon-symbol {
  width: rem(52px);
  height: rem(52px);
}

.feature__text{
  max-width: rem(90px);
}

