.form{
  display: flex;

  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
  }
}

.form__col{
  flex: 1;
  margin-right: rem(20px);

  &:last-child{
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row{
  display: flex;
  margin-bottom: rem(18px);
}

.form__block{
  flex: 1;
  margin-right: rem(20px);


  &:last-child{
    margin-right: 0;
  }
}

.form__input{
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
  border-radius: rem(5px);

  @include tablets {
    padding-top: rem(10px);
    padding-bottom:rem(10px) ;
  }

  &--textarea{
    height: rem(161px);
    resize: none;

    @include tablets {
      height: rem(80px);
    }
  }

  &:focus{
    border-color:#E01F3D;
    outline: none;
  }

}

.form__controls{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(25px);

  @include phones{
    justify-content: center;
  }
}

.form__btns{
  display: flex;
  justify-content: center;
}