.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Alegreya Sans";
  font-size: rem(18px);
  line-height: rem(30px);
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list{
  display: flex;
  align-items: center;
  margin-right: rem(15px);

}

.menu__link {
  text-decoration: none;
}

.menu__item{
  margin-right: rem(27px);
  &:last-child {
    margin-right: 0;
  }
}

.phone-number{ 
  font-size: rem(18px);
  text-decoration: none;
  font-family: play;
  display: flex;
  align-items: center;
  margin-right: rem(25px);

}

.phone-number__icon-elem{
  width: rem(13px);
  height: rem(13px);
  margin-right: rem(6px);
}