.benefits {
  text-align: center;
}

.benefits__title{
  margin-bottom: 18px;
  color: #292929;
  text-align: center;

}

.benefits__subtitle {
  padding: 0 22%;
  margin-bottom: 60px;
  text-align: center;
}

