
.hero {
  background: $grey;
  height: 100vh;
  min-height: rem(650px);
  color: #292929;
  position: relative;

  &:after {
    @include tablets {
      color: #858585;    }
  }

  &:after{
    position: absolute;
    bottom: rem(-28px);
    right: 25%;
    content: url("../img/rectangle.svg");
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  background: url("../img/ellipse5.svg") right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }
}

.hero__title-section{
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
      content: "";
      width: rem(323px);
      height: rem(323px);
      background: url("../img/headphones_tablets.png") center center / contain no-repeat;
      margin-bottom: 60px;
    }
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.hero__title-desc{
  font-family: 'Alegreya Sans';
  font-size: rem(21px);
line-height: rem(25px);
margin-bottom: rem(36px);
padding-right: 25%;
padding-bottom: rem(10px);

@include tablets {
  padding: 0 25%;
}

@include phones {
  padding: 0 16%;
}
}

.hero__main-title{
  font-size: rem(48px);
  line-height: 1.1;
  padding-top: rem(7px);
  margin-bottom: rem(5px);
  padding-bottom: rem(20px);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #292929;

  @include tablets {
    padding: 0 5%;
  }

  @include phones {
    font-size: rem(32px);
    padding: 0 12%;
  }
}

