$grey: #F5F5F5;

.hero {
  background:$grey;
  height: 100vh;
  min-height: rem(650px);
  color: #292929;
  position: relative;

  &:after{
    position: absolute;
    bottom: rem(-28px);
    right: 25%;
    content: url("../../img/rectangle.svg");
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  background: url("../../img/ellipse5.svg") right center / 50% auto no-repeat;
}

.hero__title-section{
  width: 46%;
}


.hero__title-desc{
  font-family: 'Alegreya Sans';
  font-size: rem(21px);
line-height: rem(25px);
margin-bottom: rem(36px);
padding-right: 25%;
padding-bottom: rem(10px);
}

.hero__main-title{
  font-size: rem(48px);
  line-height: 1.1;
  padding-top: rem(7px);
  margin-bottom: rem(5px);
  padding-bottom: rem(20px);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #292929;
}

