$grey: #F5F5F5;

.hero {
  background:$grey;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;

  &:after{
    position: absolute;
    bottom: -28px;
    right: 25%;
    content: url("../../img/rectangle.svg");
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
  background: url("../../img/ellipse5.svg") right center / 50% auto no-repeat;
}

.hero__title-section{
  width: 46%;
}


.hero__title-desc{
  font-family: 'Alegreya Sans';
  font-size: 21px;
line-height: 25px;
margin-bottom: 36px;
padding-right: 25%;
padding-bottom: 10px;
}

.hero__main-title{
  font-size: 48px;
  line-height: 1.1;
  padding-top: 7px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #292929;
}

