.section{
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*&--font--color--white{
    color: #FFFFFF;
  }*/
}

.section__title{
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(55px);
  text-align: center;
  color: #292929;



  &--white{
    color: #FFFFFF
    ;
  }
}

.order-section {
  color: #FFFFFF
}